html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

table.error {
	text-rendering: optimizelegibility;
	background-color: #fff;
	background-image: url(../images/clouds.png);
	background-repeat: repeat-x;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	height: 100%;
	margin: auto;
	text-align: center;
	width: 100%
}

table.error h1 {
	color: #ee465a;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075)
}

table.error h2 {
	color: #777;
	font-size: 16px;
	font-weight: 400
}

table.error video {
	display: block;
	height: auto;
	outline: none;
	width: 800px
}

table.error div.error-wrapper {
	margin: auto;
	width: 804px
}

table.error div.error-container {
	background-color: #000;
	border: 2px solid #000
}

table.error div.error-caption {
	background-color: #000;
	color: #fff;
	font-size: 18px;
	height: 22px;
	line-height: 18px;
	margin: auto;
	width: auto
}