.theme-windows-95 .emuos-window {
	padding: 4px;

	background-color: #c0c0c0;

	border: none;

	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	-moz-box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
	-webkit-box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
	box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
}

/*noinspection CssReplaceWithShorthandSafely,DuplicatedCode*/
.theme-windows-95 .emuos-window.ui-dialog .ui-button-icon-only {
	top: 12px;
	width: 16px;
	height: 14px;

	background-color: #c0c0c0;

	border: none;

	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	-moz-box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #fff, inset -2px -2px 0 #808080, inset 2px 2px 0 #dfdfdf;
	-webkit-box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #fff, inset -2px -2px 0 #808080, inset 2px 2px 0 #dfdfdf;
	box-shadow: inset -1px -1px 0 #000, inset 1px 1px 0 #fff, inset -2px -2px 0 #808080, inset 2px 2px 0 #dfdfdf;
}

.theme-windows-95 .emuos-window.ui-dialog .ui-button-icon-only:active,
.theme-windows-95 .emuos-window.ui-dialog .ui-button-icon-only.ui-state-active
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	-moz-box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #000, inset -2px -2px 0 #dfdfdf, inset 2px 2px 0 #808080;
	-webkit-box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #000, inset -2px -2px 0 #dfdfdf, inset 2px 2px 0 #808080;
	box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #000, inset -2px -2px 0 #dfdfdf, inset 2px 2px 0 #808080;
}


.theme-windows-95 .emuos-window.ui-dialog .ui-dialog-titlebar-close {
	right: 2px !important;
}

.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-maximize-restore {
	right: 20px !important;
}

.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-minimize {
	right: 36px !important;
}

.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-fullscreen {
	right: 56px !important;
}

.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-help {
	right: 72px !important;
}

/*noinspection CssOverwrittenProperties*/
.theme-windows-95 .emuos-window.ui-dialog .ui-button-icon {
	width: 16px;
	height: 14px;
}

.theme-windows-95 .emuos-window.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
	background-image: url(../../../../images/themes/icons/windows-9x/close.gif) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
}

/*noinspection CssOverwrittenProperties*/
.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-maximize-restore .ui-icon-arrow-4-diag {
	background-image: url(../../../../images/themes/icons/windows-9x/maximize.gif) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
}

/*noinspection CssOverwrittenProperties*/
.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-maximize-restore .ui-icon-newwin {
	background-image: url(../../../../images/themes/icons/windows-9x/restore.gif) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
}

/*noinspection CssOverwrittenProperties*/
.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-minimize .ui-icon-minusthick {
	background-image: url(../../../../images/themes/icons/windows-9x/minimize.gif) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
}

.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-help .ui-icon-help {
	background-image: url(../../../../images/themes/icons/windows-9x/help.gif) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
}

.theme-windows-95 .emuos-window.ui-dialog .emuos-window-button-fullscreen .ui-icon-arrow-4-diag {
	background-image: url(../../../../images/themes/icons/windows-9x/fullscreen.gif) !important;
	background-position: 1px 2px !important;
	background-repeat: no-repeat !important;
}

/*noinspection CssOptimizeSimilarProperties,CssReplaceWithShorthandSafely,DuplicatedCode*/
.theme-windows-95 .emuos-window .ui-dialog-titlebar {
	background-color: #808080;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #808080), color-stop(100%, #c0c0c0)) !important;
	background: -webkit-linear-gradient(left, #808080, #c0c0c0) !important;
	border-radius: 0;
	font-size: 13px;
	font-weight: bold;
	/*text-align: center;*/
	border: none;
	border-bottom: 1px solid #c0c0c0;
	padding: 0;
	padding-left: 19px;
	height: 18px;
	color: #d4d0c8;
	overflow: hidden;
}

.theme-windows-95 .emuos-window .ui-dialog-titlebar.ui-state-active {
	/*background-color: #000080;*/
	background-color: #0a246a;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #0a246a), color-stop(100%, #a6caf0)) !important;
	background: -webkit-linear-gradient(left, #0a246a, #a6caf0) !important;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	color: #fff;
}

.theme-windows-95 .emuos-window .ui-dialog-titlebar .ui-dialog-title {
	line-height: 19px;
	/*margin: -2px 0 0;*/
	margin-left: 2px;
}

.theme-windows-95 .emuos-window .emuos-window-content {
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	height: calc(100% - 19px) !important;
	/*max-height: calc(100% - 19px) !important;*/
	background-color: #fff;
}

.theme-windows-95 .emuos-window .emuos-window-content.emuos-window-type-help {
	background-color: #c0c0c0;
	padding: 10px;
}

.theme-windows-95 .emuos-window .emuos-window-content hr {
	border-top-color: #9a9a9a;
	border-bottom-color: #eee;
}

.theme-windows-95 .emuos-window .emuos-window-content p {
	margin: 0;
	padding: 0;
}