html.theme-windows-98 {
	cursor: url(../../../../images/themes/cursors/windows-9x/default.cur), default;
}

.theme-windows-98 p {
	cursor: url(../../../../images/themes/cursors/windows-9x/text.cur), text;
}

.theme-windows-98 .emuos-desktop-icon,
.theme-windows-98 .emuos-window .emuos-window-icon,
.theme-windows-98 .ui-button,
.theme-windows-98 .ui-menu .ui-menu-item,
.theme-windows-98 .mCustomScrollBox .mCSB_dragger .mCSB_dragger_bar,
.theme-windows-98 .mCustomScrollBox .mCSB_buttonUp,
.theme-windows-98 .mCustomScrollBox .mCSB_buttonDown {
	cursor: url(../../../../images/themes/cursors/windows-9x/pointer.cur), pointer;
}

.theme-windows-98 .emuos-taskbar-windows-containment,
.theme-windows-98 .emuos-taskbar-window-copy,
.theme-windows-98 .emuos-taskbar-resizable.emuos-taskbar-resizable-disabled .ui-resizable-handle {
	cursor: url(../../../../images/themes/cursors/windows-9x/default.cur), default;
}

.theme-windows-98 .ui-draggable .ui-dialog-titlebar {
	cursor: url(../../../../images/themes/cursors/windows-9x/move.cur), move;
}

.theme-windows-98 .ui-resizable-n {
	cursor: url(../../../../images/themes/cursors/windows-9x/vertical.cur), n-resize;
}

.theme-windows-98 .ui-resizable-e {
	cursor: url(../../../../images/themes/cursors/windows-9x/horizontal.cur), e-resize;
}

.theme-windows-98 .ui-resizable-s {
	cursor: url(../../../../images/themes/cursors/windows-9x/vertical.cur), s-resize;
}

.theme-windows-98 .ui-resizable-w {
	cursor: url(../../../../images/themes/cursors/windows-9x/horizontal.cur), w-resize;
}

.theme-windows-98 .ui-resizable-nw {
	cursor: url(../../../../images/themes/cursors/windows-9x/diagonal1.cur), nw-resize;
}

.theme-windows-98 .ui-resizable-ne {
	cursor: url(../../../../images/themes/cursors/windows-9x/diagonal2.cur), ne-resize;
}

.theme-windows-98 .ui-resizable-sw {
	cursor: url(../../../../images/themes/cursors/windows-9x/diagonal2.cur), sw-resize;
}

.theme-windows-98 .ui-resizable-se {
	cursor: url(../../../../images/themes/cursors/windows-9x/diagonal1.cur), se-resize;
}